# ---------------------------------------------------------
# .gitignore  -  Proyecto de Visual Studio (C++)
# Estructuras de Datos GPD4402
# ---------------------------------------------------------
 
# Carpeta de configuracion local de Visual Studio
.vs/
 
# Resultados de compilacion
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
 
# Archivos intermedios y binarios
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.lastbuildstate
*.iobj
*.ipdb
 
# Configuracion PERSONAL del proyecto (rutas de cada maquina).
# Este es importante: si se sube, choca entre companeros.
*.vcxproj.user
*.suo
 
# Cache de IntelliSense
ipch/
*.aps
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
 
# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# JetBrains Rider / CLion
.idea/
*.iml

# VS Code
.vscode/